@import './mixin';

.comment-show-wrap{
  margin: 0 auto 20px auto;
  width: 700px;
  height: calc(100vh - 215px);
  display: flex;
  &__left-box{
    background-color: #ffffff;
    width: 300px;
    border: dotted 1px #808080;
    &__text{
      border-bottom: dotted 1px #808080;
      height: 34%;
    }
  }
  &__right-box{
    width: calc( 100% - 300px);
    background-color: #EEEEEE;
    overflow: scroll;
    padding: 0 10px;
    .comments{
      margin: 10px;
      &__comment-right{
        display: flex;
        .right{
          background-color: #00EE00;
          margin: 10px 0 10px auto;
          padding: 5px 20px;
          border-radius: 15px;
          position: relative;
          max-width: 60%;
        }
        i{
          position: relative;
          font-size: 30px;
          margin-left: 10px;
          .user-icon{
            text-decoration: none;
            color: #000000;
            margin: 0 10px;
            position: absolute;
            font-size: 14px;
            left: -10px;
            top: 27px;
          }
        }
        .right:before {
          content: "";
          position: absolute;
          left: 100%;
          margin-left: -5px;
          border: 12px solid transparent;
          border-left: 12px solid #00EE00;
        }
      }
      &__comment-left{
        display: flex;
        .left{
          background-color: #ffffff;
          margin: 10px;
          padding: 5px 20px;
          border-radius: 15px;
          position: relative;
          max-width: 60%;
        }
        i{
          position: relative;
          font-size: 30px;
          .user-icon{
            text-decoration: none;
            color: #000000;
            margin: 0 10px;
            position: absolute;
            font-size: 14px;
            left: -10px;
            top: 27px;
          }
        }
        .left:before {
          content: "";
          position: absolute;
          margin-left: -38px;
          border: 12px solid transparent;
          border-right: 12px solid #ffffff;
        }
      }
    }
  }
}

//   .comment-show-left{
//   text-align: center;
//   margin: 30px auto;
//   height: 700px;
//   &__img{
//     width: 100%;
//   }
//   &__text{
//     border-bottom: dotted 1px #808080;
//     min-height: 100px;
//   }
// }