@import './mixin';

.search-index-wrap{
  @include center(0);
  &__parent-box{
    width: 50%;
    background-color: #00FF3B;
    border-radius: 100% 0;
    text-align: center;
  }
  &__children-box{
    border-bottom: dotted 1px #808080;
    margin-bottom: 50px;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 100%;
    display: flex;
    &__child-box{
      margin: 20px;
      width: 45%;
      display: flex;
      &--img{
      }
    }
  }
}