@import "reset";
@import "dogs/index";
@import "pets/new";
@import "users/show";
@import "comments/index";
@import "comments/new";
@import "comments/show";
@import "searches/index";
@import "searches/show";
@import "users/registrations";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

body{
  background-image: image-url('back-image.jpg');
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}