@import './mixin';

.pets-new-main{
  text-align: center;
  background-color: #ffffff;
  width: 400px;
  margin: 30px auto;
  padding: 30px 0;
  #img_field{
    height: 200px;
    i{
      margin-top: 50px;
      font-size: 60px;
    }
  }
  .preview{
    height: 200px;
  }
  .pet-new-form{
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
  }
  .introduction{
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
  }
  select{
    width: 80%;
    height: 30px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
}