@import './mixin';

.header{
  background-color: #ffffff;
  @include center(0);
  &__upper-box{
    height: 50px;
    display: flex;
    justify-content: space-between;
    &--logo{
      height: 100%;
      width: 200px;
    }
    &__search-box{
      width: 400px;
      form{
        display: flex;
        padding: 3px;
        .search{
          width: calc(100% - 40px);
          height: 40px;
        }
        .btn{
          width: 40px;
          height: 40px;
          background-color: green;
        }
      }
    }
  }
  &__under-box{
    height: 40px;
    @include center(0);
    display: flex;
    justify-content: space-between;
    &__left-box{
      .category-btn{
        text-decoration: none;
        color: #000000;
      }
    }
    &__right-box{
      .user-btn{
        margin-right: 20px;
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

.category-image{
  height: 300px;
  display: flex;
  overflow: hidden;
}

.category-image__photo {
  width: 300px;
  height: 100%;
  white-space: nowrap;
  animation-name: marquee;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes marquee {
  from    { transform: translate(0%); } 
  100%,to { transform: translate(-100%); }
}

.wrap-ranking{
  border-bottom: dotted 1px #808080;
  padding: 50px 0;
  background-color: #ffffff;
  @include center(0);
  p{
    font-size: 24px;
  }
  &__top{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 100%;
    &__rank{
      height: 180px;
      width: 180px;
      margin: 14px;
      &--num{
        position: absolute;
        z-index: 1;
        font-size: 22px;
        i{
          position: absolute;
          font-size: 28px;
          opacity: 50%;
          color: #ff0000;
        }
      }
      &--img{
        border-radius: 50%;
      }
    }
  }
}

.wrap-display{
  border-bottom: dotted 1px #808080;
  padding: 50px 0;
  @include center(0);
  p{
    font-size: 24px;
  }
  &__new-comments{
    text-align: center;
  }
  &--more{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #000000;
  }
}
.user-dogs{
  background-color: yellow;
}
.footer{
  background-color: purple;
}