@mixin center($px) {
  margin: $px auto;
  width: 100%;
  max-width: 1040px;
}

.header{
  &__upper-box{
    @include center(0);
    height: 50px;
    display: flex;
    justify-content: space-between;
    &--logo{
      height: 100%;
      width: 200px;
    }
    &__search-box{
      width: 400px;
      form{
        display: flex;
        padding: 3px;
        .search{
          width: calc(100% - 40px);
          height: 40px;
        }
        .btn{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &__under-box{
    height: 40px;
    background-color: pink;
    @include center(0);
    &--category{}
  }
}

.category-image{
  height: 300px;
  display: flex;
  overflow: hidden;
}

img {
  width: 300px;
  white-space: nowrap;
  animation-name: marquee;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes marquee {
  from    { transform: translate(0%); } 
  100%,to { transform: translate(-100%); }
}

.user-image{
  height: 250px;
  background-color: blue;
}

.wrap-ranking{
  &__top{
    @include center(0);
    background-color: red;
    padding: 30px 0;
    text-align: center;
    &--split{
      padding: 10px 150px;
      display: flex;
      justify-content: space-around;
      .image{
        height: 150px;
        width: 150px;
        border: solid 1px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}

.display{
  background-color: blue;
}
.user-dogs{
  background-color: yellow;
}
.footer{
  background-color: purple;
}